[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = ">=3.6.1"
pandas = "*"
numpy = "*"
sklearn = "*"
seaborn = "*"
keras = ">=2.10.0"
scikit-image = "*"
tensorflow = ">=2.10.0"
mido = ">=1.2.10"

[dev-packages]

[requires]
python_version = "3.10"
