[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
hypercorn = "*"
models = {editable = true, path = "./../models"}
midi = {editable = true, path = "./../midi"}
python-multipart = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
httpx = "*"
mypy = "*"

[requires]
python_version = "3.10"
