[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
music21 = "*"
mido = "*"
requests = "*"
tqdm = "*"
numpy = "==1.23.5"

[dev-packages]
autopep8 = "*"
mypy = "*"
pytest = "*"
types-requests = "*"
types-tqdm = "*"

[requires]
python_version = "3.10"
