[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keras = ">=2.10.0"
tensorflow = ">=2.10.0"
midi = {editable = true, path = "./../midi"}

[dev-packages]

[requires]
python_version = "3.10"
